/* 通用的批量导入 */
.import-modal-tips {
  height: 32px;
  line-height: 32px;
  display: block;
  color: rgba(0, 0, 0, 0.45);
  background: #f6f8fa;
  padding-left: 32px;
  margin-bottom: 16px;
  position: relative;
}
.import-modal-tips::before {
  content: ' ';
  width: 4px;
  height: 4px;
  position: absolute;
  top: 14px;
  left: 22px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  border-radius: 50%;
}
.import-modal-error {
  margin-top: 16px;
  max-height: 120px;
  overflow-y: auto;
  position: relative;
  border-radius: 2px;
  background: #f6f8fa;
}
.import-modal-error-title {
  background: #f1f4f8;
  line-height: 29px;
  position: sticky;
  top: 0;
  padding-left: 16px;
}
.import-modal-error-list {
  color: #ff4d4f;
  margin-bottom: 0;
}
.import-modal-error-list li {
  line-height: 25px;
}
